In [1]:
#IBM COMPANY WEB SCRAPPING
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time
col = ['JOB_TITLE', 'JOB_CATERGORY', 'LOCATION', 'STATE']
sample_df = pd.DataFrame(columns = col) #to create the empty dataframe
page = requests.get("https://careers.ibm.com/ListJobs/All/Search/Country/IN//?lang=en")
soup = BeautifulSoup(page.text, 'html.parser')
for  t in  soup.find_all(name='table', attrs={'class':'JobListTable'}): 
    job_post=[]
    g=t.find_all(name='td', attrs={'class':'coloriginaljobtitle'})
    for i in range(len(g)):
        s=str(g[i]).replace("</a>"," ")
        s1=s.replace("</td>"," ")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['JOB_TITLE']=job_post
    job_post=[]
    m=(t.find_all(name='td',attrs={'class':'colshorttextfield1'}))
    if len(m) > 0:
            for b in m:
                    job_post.append(b.text.strip())
    sample_df['JOB_CATERGORY']=job_post
    job_post=[]
    n=(t.find_all(name='td',attrs={'class':'colshorttextfield19'}))
    if len(n) > 0:
            for b in n:
                    job_post.append(b.text.strip())
    sample_df['LOCATION']=job_post
    job_post=[]
    o=(t.find_all(name='td',attrs={'class':'colcity'}))
    if len(o) > 0:
            for b in o:
                    job_post.append(b.text.strip())
    sample_df['STATE']=job_post
    job_post=[]
    p=(t.find_all(name='td',attrs={'class':'coldisplayjobid'}))
    if len(p) > 0:
            for b in p:
                    job_post.append(b.text.strip())
    sample_df['JOB_ID']=job_post
print(sample_df)

                                            JOB_TITLE         JOB_CATERGORY  \
0                    Application Consultant: DevOps              Consultant
1                    Practitioner -Customer Service                 Finance
2   Application Developer: Enterprise Asset Manage...  Technical Specialist
3   Application Developer: Enterprise Asset Manage...  Technical Specialist
4   Application Developer: Enterprise Asset Manage...  Technical Specialist
5   Application Developer: SAP Enterprise Integrat...  Technical Specialist
6                Application Consultant: ServiceNow              Consultant
7       Application Developer: Experience Front End    Technical Specialist
8                    Package Consultant: Salesforce              Consultant
9                    Package Consultant: Salesforce              Consultant
10                  Data Engineer: Data Integration    Technical Specialist
11                                           Intern                   Other
12                          Data Engineer: Big Data    Technical Specialist
13                          Data Engineer: Big Data    Technical Specialist
14                          Data Engineer: Big Data    Technical Specialist
15                          Data Engineer: Big Data    Technical Specialist
16                          Data Engineer: Big Data    Technical Specialist
17                          Data Engineer: Big Data    Technical Specialist
18                          Data Engineer: Big Data    Technical Specialist
19                          Data Engineer: Big Data    Technical Specialist
20                          Data Engineer: Big Data    Technical Specialist
21                          Data Engineer: Big Data    Technical Specialist
22                          Data Engineer: Big Data    Technical Specialist
23                          Data Engineer: Big Data    Technical Specialist
24                          Data Engineer: Big Data    Technical Specialist
25                          Data Engineer: Big Data    Technical Specialist
26                          Data Engineer: Big Data    Technical Specialist
27                          Data Engineer: Big Data    Technical Specialist
28                          Data Engineer: Big Data    Technical Specialist
29                          Data Engineer: Big Data    Technical Specialist

         LOCATION            STATE    JOB_ID
0       KARNATAKA        Bangalore  334519BR
1         HARYANA          Gurgaon  333200BR
2      TAMIL NADU          Chennai  339744BR
3      TAMIL NADU          Chennai  339743BR
4      TAMIL NADU          Chennai  339742BR
5   UTTAR PRADESH            Noida  339081BR
6     MAHARASHTRA             Pune  339736BR
7       TELANGANA        Hyderabad  339786BR
8       KARNATAKA        Bangalore  335222BR
9       KARNATAKA        Bangalore  335632BR
10      KARNATAKA        Bangalore  336362BR
11       MULTIPLE  MULTIPLE CITIES  337033BR
12    MAHARASHTRA             Pune  338175BR
13    MAHARASHTRA             Pune  338176BR
14    MAHARASHTRA             Pune  338177BR
15    MAHARASHTRA             Pune  338178BR
16    MAHARASHTRA             Pune  338180BR
17      KARNATAKA        Bangalore  338296BR
18      KARNATAKA        Bangalore  338298BR
19      KARNATAKA        Bangalore  338299BR
20      KARNATAKA        Bangalore  338304BR
21      KARNATAKA        Bangalore  338307BR
22      KARNATAKA        Bangalore  338308BR
23      KARNATAKA        Bangalore  338310BR
24      KARNATAKA        Bangalore  338319BR
25      KARNATAKA        Bangalore  338323BR
26      KARNATAKA        Bangalore  338326BR
27      KARNATAKA        Bangalore  338328BR
28      KARNATAKA        Bangalore  338331BR
29      KARNATAKA        Bangalore  338332BR

In [4]:
#L&T infotech web scrapping
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time
col = ['JOB_TITLE','REQUISTION ID','POSTED DATE']
sample_df = pd.DataFrame(columns = col)
page = requests.get("https://jobs.ltts.com/go/INDIA/4590610/?q=&sortColumn=referencedate&sortDirection=desc")
soup = BeautifulSoup(page.text, 'html.parser')
for t in soup.find_all(name='table',attrs={'id':'searchresults'}):
    k=t.find_all(name='span',attrs={'class':'jobTitle hidden-phone'})
    job_post=[]
    for i in range(len(k)):
        s=str(k[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['JOB_TITLE']=job_post
    job_post=[]
    l=t.find_all(name='span',attrs={'class':'jobFacility'})
    for i in range(1,len(l)):
        s=str(l[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    res = [] 
    [res.append(x) for x in job_post if x not in res] 
    sample_df['REQUISTION ID']=res
    n=t.find_all(name='span',attrs={"class":'jobDate'})
    job_post=[]
    for i in range(1,len(n),2):
        s=str(n[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:s1.find('\t')] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['POSTED DATE']=job_post
print(sample_df)
page1 = requests.get("https://jobs.ltts.com/go/INDIA/4590610/5/?q=&sortColumn=referencedate&sortDirection=desc")
soup1 = BeautifulSoup(page1.text, 'html.parser')
for t in soup1.find_all(name='table',attrs={'id':'searchresults'}):
    k=t.find_all(name='span',attrs={'class':'jobTitle hidden-phone'})
    job_post=[]
    for i in range(len(k)):
        s=str(k[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['JOB_TITLE']=job_post
    job_post=[]
    l=t.find_all(name='span',attrs={'class':'jobFacility'})
    for i in range(1,len(l)):
        s=str(l[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    res = [] 
    [res.append(x) for x in job_post if x not in res] 
    sample_df['REQUISTION ID']=res
    n=t.find_all(name='span',attrs={"class":'jobDate'})
    job_post=[]
    for i in range(1,len(n),2):
        s=str(n[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:s1.find('\t')] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['POSTED DATE']=job_post
print(sample_df)
page2 = requests.get("https://jobs.ltts.com/go/INDIA/4590610/10/?q=&sortColumn=referencedate&sortDirection=desc")
soup2 = BeautifulSoup(page2.text, 'html.parser')
for t in soup2.find_all(name='table',attrs={'id':'searchresults'}):
    k=t.find_all(name='span',attrs={'class':'jobTitle hidden-phone'})
    job_post=[]
    for i in range(len(k)):
        s=str(k[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['JOB_TITLE']=job_post
    job_post=[]
    l=t.find_all(name='span',attrs={'class':'jobFacility'})
    for i in range(1,len(l)):
        s=str(l[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    res = [] 
    [res.append(x) for x in job_post if x not in res] 
    sample_df['REQUISTION ID']=res
    n=t.find_all(name='span',attrs={"class":'jobDate'})
    job_post=[]
    for i in range(1,len(n),2):
        s=str(n[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:s1.find('\t')] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['POSTED DATE']=job_post
print(sample_df)
page3 = requests.get("https://jobs.ltts.com/go/INDIA/4590610/15/?q=&sortColumn=referencedate&sortDirection=desc")
soup3 = BeautifulSoup(page3.text, 'html.parser')
for t in soup3.find_all(name='table',attrs={'id':'searchresults'}):
    k=t.find_all(name='span',attrs={'class':'jobTitle hidden-phone'})
    job_post=[]
    for i in range(len(k)):
        s=str(k[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['JOB_TITLE']=job_post
    job_post=[]
    l=t.find_all(name='span',attrs={'class':'jobFacility'})
    for i in range(1,len(l)):
        s=str(l[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    res = [] 
    [res.append(x) for x in job_post if x not in res] 
    sample_df['REQUISTION ID']=res
    n=t.find_all(name='span',attrs={"class":'jobDate'})
    job_post=[]
    for i in range(1,len(n),2):
        s=str(n[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:s1.find('\t')] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['POSTED DATE']=job_post
print(sample_df)
page4 = requests.get("https://jobs.ltts.com/go/INDIA/4590610/20/?q=&sortColumn=referencedate&sortDirection=desc")
soup4 = BeautifulSoup(page4.text, 'html.parser')
for t in soup4.find_all(name='table',attrs={'id':'searchresults'}):
    k=t.find_all(name='span',attrs={'class':'jobTitle hidden-phone'})
    job_post=[]
    for i in range(len(k)):
        s=str(k[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['JOB_TITLE']=job_post
    job_post=[]
    l=t.find_all(name='span',attrs={'class':'jobFacility'})
    for i in range(1,len(l)):
        s=str(l[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    res = [] 
    [res.append(x) for x in job_post if x not in res] 
    sample_df['REQUISTION ID']=res
    n=t.find_all(name='span',attrs={"class":'jobDate'})
    job_post=[]
    for i in range(1,len(n),2):
        s=str(n[i]).replace("</a>","")
        s1=s.replace("</span>","")
        s2=s1[s1.rfind(">")+1:s1.find('\t')] 
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['POSTED DATE']=job_post
print(sample_df)

                      JOB_TITLE REQUISTION ID  POSTED DATE
0            Java Microservices        132842  Oct 7, 2020
1  Sr. C++ Dicom Linux Engineer        133641  Oct 7, 2020
2     Machine Learning Engineer        125684  Oct 6, 2020
3     Technical Project Manager        118902  Oct 6, 2020
4     Machine Learning Engineer        125701  Oct 6, 2020
                    JOB_TITLE REQUISTION ID  POSTED DATE
0     Andorid Audio Developer         87991  Oct 6, 2020
1  Android Graphics Developer         87981  Oct 6, 2020
2             RDK B Developer        119341  Oct 6, 2020
3      Consultant - Thingworx         93965  Oct 6, 2020
4                        Lead        111303  Oct 6, 2020
                           JOB_TITLE REQUISTION ID  POSTED DATE
0                    RDK B Developer        119342  Oct 6, 2020
1        ESP PSW Build plan Engineer        120703  Oct 6, 2020
2                OTT Senior Engineer        132146  Oct 6, 2020
3  Sr.Hardware Board Design Engineer        120863  Oct 6, 2020
4          Manufacturing Digital SME        117429  Oct 6, 2020
                                JOB_TITLE REQUISTION ID   POSTED DATE
0                                Engineer        112344   Oct 6, 2020
1  Groovy/Java Automation Engg - LTE/3GPP         88787   Oct 5, 2020
2             WIFI  Test Engineer(Tester)         88663   Oct 5, 2020
3                       ReactJS Developer        132821   Oct 1, 2020
4                         Senior Engineer        121222  Sep 30, 2020
                             JOB_TITLE REQUISTION ID   POSTED DATE
0                 RTM Python Developer        124363  Sep 28, 2020
1             Python Developer Support        123682  Sep 28, 2020
2  Senior Clinical Documetation Expert        128125  Sep 28, 2020
3              Azure .Net C# Developer        130903  Sep 28, 2020
4                         UI Developer        124941  Sep 28, 2020

In [73]:
#HCL web scrapping 
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time
col = ['DESIGNATION','POSTED DATE', 'LOCATION','EXPERIENCE']
sample_df = pd.DataFrame(columns = col)
page = requests.get("https://www.hcltech.com/careers/Careers-in-india")
soup = BeautifulSoup(page.text, 'html.parser')
for t in soup.find_all(name='table', attrs={'class':'views-table cols-4 table table-hover table-striped'}):
    l=t.find_all(name='td', attrs={'class':'views-field views-field-field-kenexa-jobs-designation'})
    job_post=[]
    for i in range(len(l)):
        s=str(l[i]).replace('</a>','')
        s1=s.replace('</td>','')
        s2=s1[s1.rfind(">")+1:]
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['DESIGNATION']=job_post
    job_post=[]
    m=t.find_all(name='td',attrs={'class':'views-field views-field-field-kenxa-jobs-updated-date'})
    for i in range(len(m)):
        s=str(m[i]).replace('</span>','')
        s1=s.replace('</td>','')
        s2=s1[s1.rfind(">")+1:]
        s3=s2.replace("\n","")
        job_post.append(s3)
    sample_df['POSTED DATE']=job_post
    job_post=[]
    n=t.find_all(name='td',attrs={'class':'views-field views-field-field-kenexa-jobs-location'})
    for i in range(len(n)):
        s1=str(n[i]).replace('</td>','')
        s2=s1[s1.rfind(">")+1:]
        s3=s2.replace("\n","")
        s4=s3.replace(" ",'')
        job_post.append(s4)
    sample_df['LOCATION']=job_post   
    job_post=[]
    b=t.find_all(name='td',attrs={'class':'views-field views-field-field-kenexa-experience-range'})
    for i in range(len(b)):
        s1=str(b[i]).replace('</td>','')
        s2=s1[s1.rfind(">")+1:]
        s3=s2.replace("\n","")
        s4=s3.replace(" ",'')
        job_post.append(s4)
    sample_df['EXPERIENCE']=job_post    
print(sample_df)

                               DESIGNATION    POSTED DATE LOCATION EXPERIENCE
0                          Technical Lead   Sep 23, 2020   Chennai   5-8Years
1                           Lead Engineer   Sep 23, 2020   Chennai   5-7Years
2         Customer Service Representative   Sep 22, 2020     Noida    Fresher
3  Senior Customer Service Representative   Sep 22, 2020     Noida   1-3Years
4                       Process Associate   Sep 22, 2020     Noida    Fresher
5                          Technical Lead   Sep 21, 2020     Noida   5-8Years